/* ==============
table of contents
=================
1. global styles
2. typography
3. layout
4. components    
============== */

/* =============
1. global styles
============= */

/* ==========
2. typography
========== */

:root {
  font-family: Helvetica, Arial, sans-serif;
}

/* ======
3. layout
====== */

/* ==========
4. components
========== */

.modal {
  display: block;
  z-index: -1;
  opacity: 0;
  position: fixed;
  padding-top: 5vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 0.2s ease-in-out;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 75%;
  transform: scale(0);
  transition: 0.2s ease-in-out;
}

.modal-content.active,
.modal.active {
  z-index: 1;
  opacity: 1;
}

.modal.active {
  height: 100%;
}

.modal-content.active {
  transform: scale(1);
}

#add-book-error-message {
  display: none;
  color: red;
}

#add-book-error-message.active {
  display: block;
}